<footer class="site-footer">

  <div class="top-bar-line"></div>

  <div class="bottom-panel">
    <div class="text-center">
            <span class="header-links">
                <a href="{{ site.stackoverflow_profile }}" target="_blank" title="Stackoverflow profile">
                    <i class="fa fa-stack-overflow"></i>
                </a>
                <a href="https://github.com/{{ site.github_username}}" target="_blank" title="GitHub profile">
                    <i class="fa fa-github-square"></i>
                </a>
            </span>
      <span class="hidden-sm hidden-xs">&nbsp; &nbsp; &nbsp;</span>
            <span>
                <i class="fa fa-copyright"></i>
                Developed and designed by {{ site.github_username}}
            </span>
      <span class="hidden-sm hidden-xs">&nbsp; &nbsp; &nbsp;</span>
            <span class="header-links">
                <a href="{{ site.linkedin_profile }}" target="_blank" title="LinkedIn profile">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="{{ "/about" | prepend: site.baseurl }}" title="About that page">
                    <i class="fa fa-info-circle"></i>
                </a>
            </span>
    </div><!-- text-center -->
  </div><!-- bottom-panel -->

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</footer>
